.cart_menu{
    position: relative;
    span{
        position: absolute;
        color: black;
        top: -15px;
        right: -7px;
        z-index: 99;
        border-radius: 50%;
        padding: 3px;
        background-color: #fff;
        font-size: 11px;
        height: 17px;
        width:17px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}