.cardinf{
    margin-top: 15px;
}

.cardinf.price{
    font-weight: bold;
}

.product-img{
    text-align: center;
    img{
        width: 150px;
        max-height: 182px;
    }
}

.product-quantity{
    display: flex;
    align-items: center;

    input{
        text-align: center;
    }
}

.wrap-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.cardinf a{
    color: black;
}

.cardinf a:hover{
    color: blue;
}



