.cardinf{
    margin-top: 15px;
}

.cardinf.price{
    font-weight: bold;
}

.product-img{
    text-align: center;
    img{
        width: 150px;
    }
}

.wrap-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}



